BODY {
	FONT-SIZE: 12px; BACKGROUND: url(bg_all.jpg) no-repeat center top; MARGIN: 20px auto 0px; WIDTH: 1004px; LINE-HEIGHT: normal; FONT-FAMILY: "ו"
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
.clear {
	CLEAR: both
}
.searchinput {
	WIDTH: 120px
}
.page .button {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(btn_search.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 60px; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
.page {
	WIDTH: 204px; PADDING-TOP: 10px; TEXT-ALIGN: right
}
.query {
	OVERFLOW: hidden; HEIGHT: 100px
}
.boldblue {
	FONT-WEIGHT: bold; COLOR: #003eb1
}
.blue {
	COLOR: #003eb1
}
.text {
	line-height: 25px;
	color: #6f6f6f;
	
}
#header {
	MARGIN: 0px auto; WIDTH: 910px
}
#logo {
	FLOAT: left
}
#tele {
	MARGIN-TOP: 0px; FLOAT: right
}
#menu {
	MARGIN-TOP: 5px
}
#mainflash {
	MARGIN: 3px auto 0px; WIDTH: 910px
}
#footer {
	FONT-WEIGHT: normal; BACKGROUND: url(bg_footer.jpg); MARGIN: 10px auto 0px; WIDTH: 910px; COLOR: #035ea7; PADDING-TOP: 10px; HEIGHT: 90px; TEXT-ALIGN: center
}
#footer A {
	COLOR: #035ea7
}
#index_container {
	MARGIN: 10px auto 0px; WIDTH: 910px
}
#index_left {
	FLOAT: left; WIDTH: 224px
}
#index_search {
	
}
#index_search1 {
	BACKGROUND: url(bg_index_title3.jpg); HEIGHT: 33px
}
#index_search2 {
	BACKGROUND: url(bg_index_content3.jpg); COLOR: #0f5ebd; HEIGHT: 104px
}
#index_search3 {
	BACKGROUND: url(bg_index_btm3.jpg); OVERFLOW: hidden; HEIGHT: 6px
}
#index_prolist {
	MARGIN-TOP: 6px
}
#index_prolist1 {
	BACKGROUND: url(bg_index_title4.jpg); HEIGHT: 33px
}
#index_prolist2 {
	BACKGROUND: url(bg_index_content4.jpg); HEIGHT: 173px
}
#index_prolist3 {
	BACKGROUND: url(bg_index_btm4.jpg); OVERFLOW: hidden; HEIGHT: 7px
}
#index_contact {
	MARGIN-TOP: 6px
}
#index_contact1 {
	BACKGROUND: url(bg_index_title5.jpg); HEIGHT: 33px
}
#index_contact2 {
	PADDING-LEFT: 8px; BACKGROUND: url(bg_index_content5.jpg); COLOR: #0359a2; LINE-HEIGHT: 22px; PADDING-TOP: 5px; HEIGHT: 123px
}
#index_right {
	FLOAT: right; WIDTH: 679px
}
#index_news1 {
	FLOAT: left; WIDTH: 337px
}
#index_news1_1 {
	BACKGROUND: url(bg_index_title1.jpg) no-repeat; HEIGHT: 29px
}
#index_news1_2 {
	BACKGROUND: url(bg_index_content1.jpg); HEIGHT: 157px
}
#index_news1_3 {
	BACKGROUND: url(bg_index_btm1.jpg); OVERFLOW: hidden; HEIGHT: 7px
}
#index_news2 {
	FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 337px
}
#index_news2_1 {
	BACKGROUND: url(bg_index_title1.jpg); HEIGHT: 29px
}
#index_news2_2 {
	BACKGROUND: url(bg_index_content1.jpg); HEIGHT: 157px
}
#index_news2_3 {
	BACKGROUND: url(bg_index_btm1.jpg); OVERFLOW: hidden; HEIGHT: 7px
}
#index_hotproduct {
	MARGIN-TOP: 6px; FLOAT: left; WIDTH: 679px
}
#index_hotproduct_1 {
	BACKGROUND: url(bg_index_title2.jpg); HEIGHT: 34px
}
#index_hotproduct_2 {
	BACKGROUND: url(bg_index_content2.jpg); OVERFLOW: hidden; HEIGHT: 290px
}
#index_hotproduct_3 {
	BACKGROUND: url(bg_index_btm2.jpg); OVERFLOW: hidden; HEIGHT: 6px
}
.index_news_title {
	PADDING-LEFT: 30px; FONT-WEIGHT: bold; FLOAT: left; WIDTH: 100px; COLOR: #fff; LINE-HEIGHT: 29px
}
.index_more1 {
	DISPLAY: block; FONT-SIZE: 26px; FLOAT: right; VERTICAL-ALIGN: middle; WIDTH: 50px; LINE-HEIGHT: 29px; HEIGHT: 29px; TEXT-ALIGN: center
}
.index_more1 IMG {
	VERTICAL-ALIGN: middle
}
.index_more1:unknown {
	FONT-SIZE: 12px; VISIBILITY: hidden; MARGIN-LEFT: -5px; content: "."
}
.right_border {
	BORDER-RIGHT: #d4eaf5 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #d4eaf5 0px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; BORDER-LEFT: #d4eaf5 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #d4eaf5 1px solid
}
#right_title {
	PADDING-LEFT: 40px; FONT-WEIGHT: bold; BACKGROUND: url(bg_right_title.jpg); OVERFLOW: hidden; COLOR: #fff; LINE-HEIGHT: 35px; HEIGHT: 33px
}
#left_title {
	PADDING-LEFT: 23px; FONT-WEIGHT: bold; BACKGROUND: url(bg_left_title.jpg); COLOR: #055eb0; LINE-HEIGHT: 34px; HEIGHT: 40px
}
#left_content {
	BACKGROUND: url(bg_left_content.jpg)
}
#left_btm {
	BACKGROUND: url(bg_left_btm.jpg); OVERFLOW: hidden; HEIGHT: 6px
}
a.linknews1 {
	font-size: 9pt;
	color: #004285;
	letter-spacing: 2px;
}
a.linknews1:hover {
	font-size: 9pt;
	color: #004285;
	letter-spacing: 2px;
	text-decoration: underline;
}
